h1{
text-align:center;
font-size: 20px;
}


#tablo{
    font-size: 15px;
    font-family:Verdana;
	background-color:aquamarine;
    color: darkblue;
}
body{
	background-attachment:fixed;
	background-color:white;
}
#buton{
	
	font-family:Verdana;
	font-size:30px;
	font-weight:bold;
	color:#87CEFA;
	background:#CC0066;
}

#one{
	background:url(top.gif);
    
}
#two{
    align:right;
    text-align: center;
	background:url(top.gif);
}
#three{
    text-align: center;
	background:url(top.gif);
}
#four{
	background:url(top.gif);
}
#five{
	background:url(top.gif);
}
#six{
	background:url(top.gif);
}

#seven{
	background:url(top.gif);
}
#eight{
	background:url(top.gif);
}
#nine{
	background:url(top.gif);
}
#ten{
	background:url(top.gif);
}
#eleven{
	background:url(top.gif);
}
#twelwe{
	background:url(top.gif);
}
#x{
	background:url(top.gif);
}
#y{
	background:url(top.gif);
}
#z{
	background:url(top.gif);
}
#a{
	background:url(top.gif);
}
#b{
	background:url(top.gif);
}
#c{
	background:url(top.gif);
}
#xs{
	background:url(top.gif);
}
#ys{
	background:url(top.gif);
}
#zs{
	background:url(top.gif);
}
#as{
	background:url(top.gif);
}
#bs{
	background:url(top.gif);
}
#cs{
	background:url(top.gif);
}
#x2{
	background:url(top.gif);
}
#y2{
	background:url(top.gif);
}
#z2{
	background:url(top.gif);
}
#a2{
	background:url(top.gif);
}
#b2{
	background:url(top.gif);
}
#c2{
	background:url(top.gif);
}






Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Con